@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ranchers;
    src: url('./assets/Ranchers-Regular.ttf') format("opentype");
  }